.show-menu {
  position: absolute;

  transition: 1s;
}

.hide-menu {
  position: absolute;

  transition: 1s;
}

.JobSearchToggle {
}

@keyframes slide {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@media screen and (max-width: 1250px) {
  .Search-Big {
    display: none;
  }
  .Search-Small {
    display: none;
  }
}

@media screen and (min-width: 1251px) {
  .Search-Mid {
    display: none;
  }
  .Search-Small {
    display: none;
  }
}

@media screen and (max-width: 745px) {
  .Search-Mid {
    display: none;
  }
  .Search-Big {
    display: none;
  }
  .Search-Small {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
}
