.show-menu {
  position: absolute;

  transition: 1s;
}

.hide-menu {
  position: absolute;

  transition: 1s;
}

.JobSearchToggle {
}

@keyframes slide {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
