.header-wrap {
  /* height: 108px;
    max-width: 1730px;
    padding: 0px 95px;
    margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-wrap {
  display: flex;
  align-items: center;
  float: left;
}

.header-right-wrap {
  display: flex;
  align-items: right;
}
