.Profile-Main-container {
  margin-top: 50px;
}

.Profile-Chart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
}
.Profile-Info-container {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Profile-Profile-container {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Profile-Extra {
  margin-left: 20vw;
  margin-right: 20vw;
}

.Profile-Like-container {
  margin-left: 20vw;
  margin-right: 20vw;
}
