/* Title */

.Title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 70px;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #666666;
  margin-bottom: 20px;
}

/* Info */

.Info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Info-item {
  width: 50%;
}

.Line-container {
  display: flex;
  margin: 5px 0 5px 0;
}

.Line-container > div {
  margin: 12px;
  width: 100px;
  text-align: right;
  /* position: relative; */
  font-weight: 600;
  font-size: 18px;
}
.Line-container > span {
  margin: 12px;
  width: 100%;
  text-align: left;
  font-size: 18px;
}

/* Detail */

.Detail-container {
  margin: 120px 0 0 0;
}

.Map-container {
  margin: 45px 0 70px;
}

.Job-content {
  margin: 45px 0 45px;
  font-size: 18px;
}

.Category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
}
.Category-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
}
.Category-container > div > .Category-title {
  padding: 30px 0 30px 0;
  background-color: #f5f5f5;
  font-style: normal;
  font-weight: 600;
  font-size: 22.5px;
  line-height: 29px;
  color: #666666;
}
.Category-container-1 > div > .Category-title {
  padding: 30px 0 30px 0;
  background-color: #f5f5f5;
  font-style: normal;
  font-weight: 600;
  font-size: 22.5px;
  line-height: 29px;
  color: #666666;
}

.Category-container > div > div {
  margin-bottom: 50px;
}
.Category-container-1 > div > div {
  margin-bottom: 50px;
}

.Category-flexgrow-1 {
  flex-grow: 1;
  border-left: 1px solid #ababab;
}

.Category-flexgrow-2 {
  flex-grow: 2;
  border-top: 1px solid #ababab;
}
.Category-flexgrow-6 {
  flex-grow: 6;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
  border-top: 1px solid #ababab;
}

#Category-border {
  border-left: 0px;
}

#condition {
  margin: 50px 0 50px 0;
}

#Category-border-none {
  border: none;
}
/*  */

.Big-category {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #76dcb0;
}

.Mid-category {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 600;
  font-size: 22.5px;
  line-height: 29px;
  color: #666666;
  margin: 15px 0 15px;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

hr {
  border-color: white;
}

.square {
  width: 95px;
  position: absolute;
}

/*  */

@media screen and (max-width: 1500px) {
  .Category-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    margin: 30px 0 0 0;
    flex-wrap: wrap;
    height: 500px;
  }
  .Category-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    margin: 30px 0 0 0;
  }
  .Category-flexgrow-1 {
    flex-grow: 1;
    border: none;
    height: 50%;
  }
  .Category-container > div > .Category-title {
    margin: 20px 0 20px 0;

    font-style: normal;
    font-weight: 600;
    font-size: 22.5px;
    line-height: 29px;
    color: #666666;
  }
  .Detail-container {
    margin: 50px 0 0 0;
  }
  #condition {
    margin: 30px 0 30px 0;
  }
}

/* tablet 규격 */
@media screen and (max-width: 1400px) {
  .Info-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .Line-container > div {
    margin: 12px;
    width: 50%;
    text-align: right;
    position: relative;
    font-size: 18px;
    color: #666666;
  }
  .Line-container > span {
    margin: 12px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    width: 200%;
  }
  .Info-item {
    width: 100%;
  }
  .Category-container-1 > div > .Category-title {
    margin: 20px 0 20px 0;
  }
}

@media screen and (max-width: 700px) {
  .Category-container {
    height: 1000px;
  }
  .Title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    color: #666666;
    margin-bottom: 20px;
  }
  .Detail-Button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .Category-container {
    flex-wrap: nowrap;
  }
  .Category-container > div > .Category-title {
    padding: 15px 0 15px 0;
  }
  .Category-container-1 > div > .Category-title {
    padding: 15px 0 15px 0;
  }
}

@media screen and (max-width: 500px) {
  .Category-container {
    height: 1000px;
  }
  .Line-container {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
    align-items: flex-start;
  }
  .Line-container > div {
    margin: 12px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
  }
  .Line-container > span {
    margin: 12px 12px 12px 24px;

    width: 100%;
    text-align: left;
    font-size: 18px;
  }
  .Info-item > div {
    margin: 20px 0 20px 0;
  }
  .Mid-category {
    margin-top: 50px;
  }
  #Detail-Job-Info {
    border-top: 1px solid gray;
    padding-top: 20px;
  }
}
