<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for data in dataset %}
    <p>{{data.wanted_code}}</p>
    {% comment %}
    <p>{{ data.job_family_code }}</p>
    {% endcomment %} {% comment %}
    <p>{{ data.job_sub_code }}</p>
    {% endcomment %} {% comment %}
    <p>{{ data.job_code }}</p>
    {% endcomment %} {%endfor%}
  </body>
</html>
