.Footer-main-container {
  height: 300px;
  background-color: #e7f4ef;

  font-size: 15px;

  color: #666666;


}

.Footer-main-container > div {
  position: absolute;
  margin: 50px 20vw 50px 20vw;
}

.Footer-main-container > div > div > div {
  margin: 0 0 15px 0;
}

.Footer-main-container > div > div > img {
  width: 150px;
  opacity: 0.9;
}

.Footer-content-container {
  margin: 10px 0 0 55px;
}

@media screen and (max-width: 700px) {
  .Footer-main-container {
    font-size: 12px;
    height: 280px;
  }
  .Footer-main-container > div {
    position: absolute;
    margin: 50px 5vw 50px 5vw;
  }
  .Footer-main-container > div > div > img {
    width: 120px;
    opacity: 0.9;
  }
  .Footer-content-container {
    margin: 10px 0 0 50px;
  }
}